* {
	font-family: 'Roboto Slab', serif;
}
body{
	background-color: #EEE; 
	overflow: hidden;
	width: 100%;
	margin: 0;
}
.shadow {
  -moz-box-shadow:    0px 0px 10px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  box-shadow:         0px 0px 10px 2px rgba(0,0,0,0.1);
}
.sidebar {
	position: absolute;
	width: 10%;
	height: 90%;
	overflow-y:scroll;
	left:2%;
}
.sidebar img{
  position: relative;
  width:90%;

  border-radius: 5%;
  margin-bottom: 1em; 
  margin-bottom: 1em; 
}
::-webkit-scrollbar { 
    display: none; 
}
.header {
	position: absolute;
	margin: auto;
	color:black;
	width: 100%;
	text-align: center;
	font-weight: 100;
	font-size: 3em;
	margin: 0;
	font-family: 'Roboto Slab', serif;
}
.desc {
	width: 100%;
	position: absolute;
	top:4em;
	text-align: center;
}
.content {
	top:7em;
	width: 100%;
	height: 80%;
	position: absolute;
}
.content .copyright {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom:0;
}
.content .preview {
	position: absolute;
	left: 25%;
	width: 50%;
	height: 90%;
}
.content .preview img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}
.links {
	position: absolute;
	top: 0;
	right:2%; 
	width:20%;
	padding: 1%;
	text-align: left;
	font-size: 1.3em;
}
a { color: black;}
a:visited {
	color: black;
}