* {
	font-family: 'Roboto Slab', serif;
}
body {
	width:90%;
	height:100%;
	margin: 0;
	overflow:hidden;
	background-color: #EEE; 
}
.shadow {
	-moz-box-shadow:    0px 0px 10px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
	box-shadow:         0px 0px 10px 2px rgba(0,0,0,0.1);
}
.content {
	width:97%;
	height:85%;
	position: absolute;
	top:15%;
	left:2%;
}
.header {
	position: absolute;
	left:2%;
	top:0;
	margin: 0;
}
.desc {
	position: absolute;
	top:5%;
	left:2%;

}

.preview {
	position: absolute;
	left: 0%;
	width: 78%;
	height: 65%;
}
.preview img{
	display: block;
	max-height: 100%;
	max-width: 100%;
}
.sidebar {
	position: absolute;
	bottom:6%;
	width: 100%;
	height:20%;
	white-space:nowrap;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-y: hidden;
}
.sidebar img {
	height:90%;
	margin-right: 0.5em;
	display:inline-block;
}
.copyright {
	position: absolute;
	bottom: 1%;
}
.bio { display: none; }
.links {
	position: absolute;
	top:-16%;
	right: 1%;
	text-align: right;
	font-weight: bold;
}
.links p{
	margin: 0.2em;
}
a { color: black; }
a:visited{
	color: black;	
}
.mini {
	display:none;
}